.day1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
	height: 75vh;
  	align-items: center;
  	justify-items: center;
}

.day1 h6{
	grid-column: 2;
	grid-row: 1;
	align-self: end;
	justify-self: right;
	padding-right: 1.5rem;
	padding-top: 1rem;
	margin: 0;
}

.day1 h2{
	grid-column: 1;
  	grid-row: 2;
}

.day1 p{
	grid-column: 2;
  	grid-row: 2;
}

.day1 img{
	height: 12rem;
	fill: #5b81a5;
}

.high{
  	grid-column: 2;
  	grid-row: 3;
}

.low{
  	grid-column: 1;
  	grid-row: 3;
}

.rise{
  	grid-column: 1;
  	grid-row: 4;
}

.set{
  	grid-column: 2;
  	grid-row: 4;
}

.wind{
  	grid-column: 1;
  	grid-row: 5;
}

.uv{
  	grid-column: 2;
  	grid-row: 5;
}

.forecast{
  	grid-column: 1 / span 2;
  	grid-row: 5;
}

.left-wave{
	grid-column: 1 / span 2;
	grid-row: 3 / span 4;
	z-index: -1;
	transform: translateY(100%);
	transition: all 1.2s;
}

.wavetop{
	transform: translateY(12%);
}

.left-wave img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.right-wave{
	grid-column: 1 / span 2;
	grid-row: 3 / span 4;
	z-index: -2;
	transform: translateY(100%);
	transition: all .9s;
}

.wavebottom{
	transform: translateY(12%);
}
	
.right-wave img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}

@media screen and (min-width: 45em) {
	main{
		padding-right: 8rem;
		padding-left: 8rem;
		background-color: #adc7e0;
	}
}

@media screen and (min-width: 70em) {
	main{
		padding-right: 20rem;
		padding-left: 20rem;
		background-color: #adc7e0;
	}
}