body{
	background-color: #edded0;
}

h1{
	font-family: Solway;
	font-size: 4rem;
	font-weight: 700;
	color: #5b81a5;
}

button{
	font-family: Barlow Condensed;
	font-weight: 400;
	font-size: 4rem;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: white;
	background-color: #97bfe4;
	border-radius: 35px;
	border: none;
	padding-right: 3rem;
	padding-left: 3rem;
}

h2{
	font-family: Barlow Condensed;
	font-weight: 500;
	font-size: 2rem;
	color: #5b81a5;
	letter-spacing: 2px;
	text-align: center;
}

p{
	font-size: 4rem;
  	color: #5b81a5;
  	text-align: center;
}

h3{
	font-family: Barlow Condensed;
	font-weight: 500;
	font-size: 2rem;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
	text-align: center;
	margin: 0;
	padding-bottom: .75rem;
	padding-top: 2rem;
}

h4{
	font-family: Barlow Condensed;
	font-weight: 400;
	font-size: 2rem;
	color: #ffffff;
	text-align: center;
	margin: 0;
}
