body{
	background-color: #edded0;
}

h3{
	font-family: Barlow Condensed;
	font-weight: 500;
	font-size: 2rem;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
	text-align: center;
}

h4{
	font-family: Barlow Condensed;
	font-weight: 400;
	font-size: 2rem;
	color: #ffffff;
	text-align: center;
}